<ion-view view-title="登陆" cache-view="false">
	<ion-content>
        <div class="row">
          <div class="col col-100" style="text-align: center">
            <img src="img/fesa.png">
          </div>
         </div>
        <div class="list padding" id="notLogin">
            <label class="item item-input">
                <input type="text" placeholder="用户名" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="密码" ng-model="data.password">
            </label>
            <button class="button button-block button-balanced" ng-click="login()">
                <i class="icon ion-log-in"></i>&nbsp;登录
            </button>
        </div>
    </ion-content>
</ion-view>
