<ion-view view-title="我的" cache-view="false">
	<ion-content>
		<div class="row">
			  <div class="col col-100" style="text-align: center">
			  	<img src="img/user.png">
			  	<p style="font-size: large;">
			  		<span contenteditable="false" ng-bind="data.userName"></span>
			  	</p>
			  </div>
		 </div>
		 <ion-list>
			 <ion-toggle ng-model="settings.enableFriends">
			        <i class="icon ion-android-notifications"></i>&nbsp;消息推送
			 </ion-toggle>
		 </ion-list>
		 <div style="height: 20px"></div>
         <ion-list>
		    <ion-toggle>
		        <i class="icon ion-star"></i>&nbsp;我的收藏
		    </ion-toggle>
		    <ion-toggle>
		        <i class="icon ion-android-person-add"></i>&nbsp;我的关注
		    </ion-toggle>
		    <ion-toggle>
		        <i class="icon ion-chatboxes"></i>&nbsp;我的评论
		    </ion-toggle>
		 </ion-list>
		 <div style="height: 20px"></div>
         <ion-list>
         	<ion-toggle>
		        <i class="icon ion-android-contacts"></i>&nbsp;关于我们
		    </ion-toggle>
		    <ion-toggle>
		        <i class="icon ion-happy"></i>&nbsp;反馈意见
		    </ion-toggle>
		 </ion-list>
    </ion-content>
</ion-view>
