<ion-view view-title="首页">
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
      <div class="tabs">
        <a class="tab-item active" href="#">热门</a>
        <a class="tab-item" href="#">会计</a>
        <a class="tab-item" href="#">计算机</a>
        <a class="tab-item" href="#">娱乐</a>
      </div>
    </div>
  <ion-content class="padding" style="margin-top:45px">
  	<ion-refresher refreshing-icon="ion-loading-c" refreshing-text="获取最新资讯" pulling-text="下拉刷新数据..." on-refresh="doRefresh()"></ion-refresher>
    <div class="list">
      <a ng-repeat="item in items" class="item item-thumbnail-left" href="#/tab/dash/{{item.id}}">
        <img ng-src="{{item.image}}" ng-if="item.image.length>0">
        <h2>{{item.title}}</h2>
        <p>{{timeformat(item.time)}}  {{item.source}}</p>
        <p><i class="icon ion-ios-chatbubble-outline"></i></p>
      </a>
    </div>
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="1%" ></ion-infinite-scroll>
  </ion-content>
</ion-view>
